.bioContainer {
	background: var(--color_bio_background);
	margin-top: auto;
	padding: 1rem;
}

.bioContent {
	display: flex;
	padding: 1rem;
}

.leftSection {
	flex: 2;
	margin-right: 1rem;
}

.rightSection {
	flex: 1;
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
}

.headshotWrapper {
	position: relative;
	overflow: hidden;
}

.headshot {
	max-height: 100%;
	max-width: 100%;
	object-fit: cover;
	transform: scale(0.8) translate(20px, -10px);
}

.creditTitle {
	margin: 0 auto;
}

.title {
	font-family: var(--font_family_std);
	color: white;
	font-size: var(--font_size_bio_title);
	margin: 0 0 1rem 0;
}

.bioCopy {
	font-family: var(--font_family_std);
	color: white;
	font-size: var(--font_size_copy);
	margin: 0;
}
