/* Universal Styles */

html {
	font-size: 16px;
}

body {
	background-color: var(--color_app_background);
	margin: 0;
}

/* App Styles */

.App {
	display: flex;
	flex-direction: column;
}

.appArea {
	margin: 1.5vw;
}

.content {
	display: flex;
}

@media screen and (max-width: 480px) {
	.content {
		flex-direction: column;
		align-items: center;
		padding-top: 5rem;
		margin: 0 2vw;
	}
}
