/* Universal Styles */

html {
	font-size: 16px;
}

body {
	background-color: rgba(108, 194, 228, 0.518);
}

html,
body {
	margin: 0;
}

/* App Styles */

.content {
	display: flex;
	justify-content: space-around;
	margin: 0 max(20px, 5vw);
}
