/* Universal Styles */

html {
  font-size: 16px;
}

body {
  background-color: rgba(108, 194, 228, 0.518);
}

html,
body {
  margin: 0;
}

/* App Styles */

.App {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  margin-left: 15rem;
  margin-right: 15rem;
}
