.headerBar {
  display: flex; /* to keep background only around text */
  padding: 0.75rem;
  background-color: rgba(245, 211, 131, 0.843);
  margin: 1rem;
  border-radius: 0.75rem;
  border: 2px solid white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.titleContainer {
  display: flex;
  flex-direction: column;
  background-color: rgba(209, 39, 39, 0.884);
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 2px solid white;
  box-shadow: 1rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  min-width: 0;
}

.title {
  margin: 0;
  padding-bottom: 0.3rem;
  font-family: monospace;
  color: white;
  font-size: 1.5rem;
  min-width: 0;
}

.subtitle {
  margin: 0;
  font-family: monospace;
  color: white;
  font-size: 1rem;
  min-width: 0;
}
