.headerBar {
	display: flex;
	padding: var(--padding_header_bar);
	background-color: var(--color_sand);
  margin: 0 auto 1rem auto;
	border-radius: 0.75rem;
	border: var(--border_std);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.titleContainer {
	background-color: var(--color_lobster);
	padding: var(--padding_title_container);
	border-radius: 0.5rem;
	border: var(--border_std);
	box-shadow: 0 1.5px 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.title {
	margin: 0;
	padding-bottom: 0.3rem;
	font-family: var(--font_family_std);
	color: white;
	font-size: var(--font_size_title);
	white-space: nowrap;
}

.subtitle {
	margin: 0;
	font-family: var(--font_family_std);
	color: white;
	font-size: var(--font_size_subtitle);
}

@media screen and (max-width: 480px) {
  .headerBar {
    margin: 0;
    position: fixed;
    z-index: 1000;
    width: calc(100% - 2rem);
  }
  .titleContainer {
    margin: 0 auto;
  }
	.title {
		padding-bottom: 0rem;
	}
	.subtitle {
		display: none;
	}
}
