:root {
	/* Colors */
	--color_sand: rgba(245, 211, 131, 0.843);
	--color_lobster: rgba(209, 39, 39, 0.884);
	--color_app_background: rgba(108, 194, 228, 0.518);
	--color_bio_background: #2080a6;

	/* Font Size */
  --font_size_title: clamp(1rem, 1.25rem + 0.5vw, 3.5rem);
  --font_size_subtitle: clamp(1rem, 0.75rem + 0.6vw, 2rem);

  --font_size_bio_title: clamp(1.25rem, 1.25rem + 0.5vw, 2.5rem);
	--font_size_copy: clamp(0.5rem, 0.5rem + 0.6vw, 1.5rem);

  --font_size_button: clamp(1rem, 0.75rem + 0.5vw, 1.5rem);
  --font_size_message: clamp(1rem, 0.75rem + 0.5vw, 1.5rem);

	/* Padding */
	--padding_header_bar: clamp(0.25em, 0.25em + 0.5vw, 1.25em);
	--padding_title_container: clamp(0.75em, 0.5em + 0.5vw, 1.5em);

	/* Misc. */
	--font_family_std: monospace, sans-serif;
	--border_std: 0.2em solid white;
  --border_radius: 0.75em;
  --size_message-container: clamp();
}
