.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 70vw;
  padding: 1vw;
}

/* Read Field */

.readContainer {
  height: 50vh;
  margin-bottom: 2rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
}

/* Read Field -> Message */

.readField {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  padding: 0.75rem;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #ccc;
  resize: none;
  overflow-y: auto;
}

.readField:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

/* Read Field -> No Messages */

.noMessagesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  background-color: white;
}

.noMessagesContainer img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: 100%;
  object-fit: contain;
  margin-top: 5rem;
  transition: all 0.2s ease;
}

.noMessagesContainer p {
  font-family: monospace, Courier;
  font-size: 1.15rem;
  position: absolute;
  top: 6vh;
  text-align: center;
}

/* Load Button */

.loadContainer {
  display: flex;
  justify-content: center;
}

.load {
  border-radius: 0.75rem;
  padding: 1.25rem;
  border: 1px solid #ccc;
  background-color: white;
  color: rgb(128, 128, 128);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s, padding 0.2s, border-radius 0.2s;
  font-family: monospace;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease, box-shadow 0.1s ease, color 0.2s,
    border-color 0.2s, padding 0.2s, border-radius 0.2s;
}

.load:hover {
  color: #000;
  border-color: #000;
}

.load:active {
  transform: scale(0.95); /* Slightly scales down the button */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Less shadow for pressed effect */
}
