.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  margin: auto;
  max-width: 1000px;
}

/* Read Field - Message */

.readContainer {
  flex-grow: 1;
  height: 25rem;
  margin-bottom: 2rem;
}

.readField {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  padding: 0.75rem;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #ccc;
  resize: none;
  overflow-y: auto;
}

.readField:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

/* Read Field - No Messages */

.noMessagesContainer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column; /* Stack children vertically */
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.noMessagesContainer img {
  width: auto;
  height: 100%;
  object-fit: contain;
  margin-top: 5rem;
}

.noMessagesContainer p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.15rem;
  position: absolute;
  top: 3.5rem;
}

/* Load Button */

.loadContainer {
  display: flex;
  justify-content: center;
}

.load {
  border-radius: 0.5rem;
  padding: 1.25rem;
  border: 1px solid #ccc;
  background-color: white;
  color: rgb(128, 128, 128);
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.2s, border-color 0.2s, padding 0.2s, border-radius 0.2s;
  font-family: monospace;
}

.load:hover {
  color: #000;
  border-color: #000;
}

/* Needs proper clickEffect */
